html {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

header {
  width: 100%;
  height: 380px;
  display: flex;
  overflow: hidden;
  position: relative;
  text-align: center;
}

footer {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
}

img {
  border: 1px solid #707070
}

footer p {
  margin: 4px;
}

.main {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  color: white;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-content {
  color: white;
  font-size: 12px;
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.title-small {
  flex: 1;
  font-size: 20px;
  margin-bottom: 0;
}

.title {
  flex: 1;
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: bold;
}

.subtitle {
  flex: 1;
  font-size: 14px;
  margin-top: 24px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  align-items: center;
  justify-content: space-around;
}

.button-group-item {
  flex: 1;
  width: 160px;
  height: 40px;
  font-size: 14px;
  color: #888888;
  border-radius: 5px;
  text-align: center;
  margin-right: 40px;
  border: 1px solid #707070;
}

.trapezoid-header {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: skewY(6deg);
  background-color: #707070;
  transform-origin: bottom right;
}

.trapezoid-footer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: skewY(-6deg);
  background-color: #707070;
  transform-origin: bottom right;
}

/* newsletter */
.newsletter-form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  text-align: left;
  color: #888888;
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 1;
}

.form {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  width: 520px;
  font-size: 12px;
  line-height: 1.5;
}

.input-group {
  margin-top: 20px;
}

.input-group:first-child {
  margin-top: 0;
}

.label {
  font-size: 12px;
  text-align: left;
}

.input {
  height: 30px;
  width: 340px;
}

.radio:first-child {
  margin-right: 20px;
}

.form-button {
  height: 40px;
  width: 350px;
  color: #707070;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid #707070;
}

.title-bar {
  padding: 0;
  height: 2px;
  width: 100%;
  margin-top: 95px;
  position: relative;
  text-align: center;
  border-radius: 1px;
  background: #707070;
}

.title-bar span {
  top: -5px;
  color: #888888;
  font-weight: bold;
  position: relative;
  padding: 0 8px 8px 8px;
  background-color: #FFFFFF;
}

.product-list {
  display: grid;
  margin-top: 50px;
  color: #888888;
  max-width: 1080px;
  grid-column-gap: 40px;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 900px) {
  .product-list {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 700px) {
  .product-list {
    grid-template-columns: auto auto;
  }
}


@media screen and (max-width: 400px) {
  .product-list {
    grid-template-columns: auto;
  }
}


.product-card {
  text-align: left;
  margin-bottom: 40px;
  display: inline-block;
}

.product-description {
  width: 200px;
  word-wrap: break-word;
}

.label-medium {
  padding: 2px;
  font-size: 14px;
}

.label-small {
  font-size: 12px;
  margin-bottom: 4px;
}

.label-bold {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.product-button {
  height: 30px;
  width: 200px;
  color: #707070;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid #707070;
}

.is-gray {
  margin-top: 20px;
  color: #888888;
}

.inline-input-group {
  text-align: left;
  margin-right: 40px;
  display: inline-block;
}

.inline-input-group:last-of-type {
  margin: 0;
}

.load-button {
  height: 40px;
  width: 350px;
  color: #707070;
  margin-top: 60px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid #707070;
}

.centered {
  text-align: center;
  justify-items: center;
}
